apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-dev

resources:
  - namespace.yaml
  - ../base

replicas:
  - name: podinfo
    count: 1

patches:
  - target:
      kind: Deployment
      name: podinfo
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "#ff6b6b"  # Red color for dev
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "DEV Environment - Podinfo"
