apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-prod

resources:
  - namespace.yaml
  - ../base

replicas:
  - name: podinfo
    count: 3

patches:
  - target:
      kind: Deployment
      name: podinfo
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "#6bcf7f"  # Green color for prod
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "PRODUCTION Environment - Podinfo"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "500m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "512Mi"
