apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-staging

resources:
  - namespace.yaml
  - ../base

replicas:
  - name: podinfo
    count: 2

patches:
  - target:
      kind: Deployment
      name: podinfo
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "#ffc107"  # Yellow color for staging
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "STAGING Environment - Podinfo"
  - target:
      kind: Ingress
      name: podinfo
    patch: |-
      - op: replace
        path: /spec/rules/0/http/paths/0/path
        value: /podinfo-staging
      - op: replace
        path: /metadata/annotations/alb.ingress.kubernetes.io~1group.order
        value: "30"
