apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-staging

resources:
  - namespace.yaml
  - ../base

# Exclude ingress from staging - only dev is exposed via ALB
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "#ffc107"  # Yellow color for staging
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "STAGING Environment - Podinfo"
    target:
      kind: Deployment
      name: podinfo

# Remove ingress - only dev environment is exposed via ALB
patchesJson6902:
  - target:
      kind: Ingress
      name: podinfo
    path: remove-ingress-patch.yaml
