apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: podinfo-staging

resources:
  - ../base

replicas:
  - name: podinfo
    count: 2

patches:
  - target:
      kind: Deployment
      name: podinfo
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "#ffd93d"  # Yellow color for staging
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "STAGING Environment - Podinfo"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "300m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "384Mi"
